.raised{
    border-radius: 20px;
    background: #eef5f6;
    box-shadow:  10px 10px 20px #d6dddd,
                 -10px -10px 20px #ffffff;

    width: 100px;
    height: 100px;

}


.indent{
    border-radius: 20px;
    background: #eef5f6;
    box-shadow: inset 10px 10px 20px #d6dddd,
    inset -10px -10px 20px #ffffff;
    
    width: 200px;
    height: 200px;
}
