.layout {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background: #eef5f6;

}

.template {
    z-index: 0;
    width: 95%;

}