.loading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: 10;

  }
  
  
  .loadingText{
      font-family: 'sybarite', serif !important;
  }
  
  
  .head {
    padding-bottom: 100px;
  }
  
  
  
