.demo {
    margin-top: 50px;
    position: absolute;
  }
  
  .box {
    background-color: orangered;
    height: 90px;
    width: 90px;
  
    left: 0px;
    top: 0px;
  
    position: absolute;
  }
  
  .animation {
    animation: sampleanimationTwo 1s forwards;
  }
  
  @keyframes sampleanimationTwo {
    0% {
      left: 0px;
      top: 0px;
    }
    25% {
      left: 300px;
      top: 0px;
    }
    50% {
      left: 300px;
      top: 150px;
    }
    75% {
      left: 0px;
      top: 150px;
    }
  }
  